@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Noto+Serif+Telugu:wght@100;200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#141414, #000);
  min-height: 100vh;
}
.app {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: row;
  position: relative;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.game img {
  width: 70px;
  height: 70px;
  align-items: center;
  cursor: pointer;
}

.score-board {
  margin-left: 5rem;
}

.score-board h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 920px) {
  .game {
    width: 300px;
    height: 300px;
  }
  .game img {
    width: 37px;
    height: 37px;
  }

  .score-board h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  .game {
    width: 210px;
    height: 210px;
  }
  .game img {
    width: 26px;
    height: 26px;
  }
  .score-board h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 200px) {
  .game {
    width: 140px;
    height: 140px;
  }
  .game img {
    width: 17, 5px;
    height: 17, 5px;
  }
  .score-board h2 {
    font-size: 14px;
  }
}

/* MAX height */

@media screen and (max-height: 920px) {
  .game {
    width: 300px;
    height: 300px;
  }
  .game img {
    width: 37px;
    height: 37px;
  }
}

@media screen and (max-height: 720px) {
  .game {
    width: 210px;
    height: 210px;
  }
  .game img {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-height: 200px) {
  .game {
    width: 140px;
    height: 140px;
  }
  .game img {
    width: 17, 5px;
    height: 17, 5px;
  }
}
